<footer class="footer bg-darken-1 clearfix py4 mt3">

  <div class="container px1 sm-px3">

    <div class="clearfix">
      <div class="sm-col sm-col-6">
        <p class="left-align mb2"><a href="{{ "/search" | prepend: site.baseurl}}">{{ site.translation[site.language].search }}</a>
      </div>
      <div class="sm-col sm-col-6">
        <p class="right-align mb2">Masters Recipe Book</a></p>
      </div>
      <div class="sm-col sm-col-6">
        <p class="left-align mb2"><button onClick="window.location.href=window.location.href">Refresh Page</button></p>
      </div>
      <div class="sm-col sm-col-6">
        <button onclick="window.print()">Print</button>
      </div>
    </div>
    
  </div>

</footer>
