<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.container {
  position: relative;
  width: 50%;
}

.container img {
  width: 100%;
  height: auto;
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 85%;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  cursor: pointer;
}
  </style>

<nav class="bg-blue-tile mt6">
    <h1 class="nav-title title-shadow white">Family Recipes</h1>
    <a href="{{ site.baseurl }}/"><button class="btn"><i class="fa fa-home"></i>Home</button></a>
</nav>